<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="learn JavaScript by LanLin">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">   
            <div class="container-fluid"> 
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Learn Frontend</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a target="_blank" href="https://www.liaoxuefeng.com/wiki/1022910821149312">JavaScript</a></li>
                        <li><a href="/ht">HT</a></li>
                        <li><a href="/threejs">Three.js</a></li>
                        <li><a target="_blank" href="https://github.com/LanLinnet/view-koa">Source Code</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block main %} {% endblock %}
        <footer style="background-color:#ddd; padding: 20px 0;">
            <div class="container">
                <p>友情链接 
                    <a target="_blank" href="https://github.com/">GitHub</a> -
                    <a target="_blank" href="https://www.liaoxuefeng.com/wiki/1022910821149312">JavaScript</a> -
                    <a target="_blank" href="https://www.hightopo.com/index.html">HT</a> -  
                    <a target="_blank" href="https://threejs.org/">Three.js</a>
                </p>
                <p>This website is created by </span><b>蓝琳</b>.</p>
                <p>Code licensed <a target="_blank"">None</a>.</p>
            </div>
        </footer>
    </body>   
</html>
